*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(101, 253, 0);
    min-height: 100vh;
    align-items: center;
    padding-top: 50px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    
}
body{
    display: block;
    font-family: 'Alice', serif;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Pattaya', sans-serif;
}
.title{
    font-size: 80px;
    margin-bottom: 60px;
        
}
#inputCity{
    outline: none;
    width: 30%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 3px inset black;
    font-size: 40px;
    font-family: inherit;
    color: rgb(255, 0, 233);
    margin-bottom: 70px;
}
#iconWrapper{
    width: 300px;
    height: 300px;
    
}
#iconWrapper img{
    width: 100%;
}
#descLable{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
#tempLable, #feelsLikeLable, #windLable{
    margin-bottom: 20px;
    font-size: 40px;
    border-bottom: 2px solid black;
    color: white;
    width: 30%;
}
